html
    head
        style.
            @import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');
    body(style="font-family: 'Kanit', sans-serif;")
        div(style="padding: 3% 10%;border: 3px solid #f15b25;border-bottom:unset")
            div(style="display:flex;margin: 40px auto;width:fit-content")
                div(style="margin-right:10px")
                    img(src= "https://sv1.img.in.th/naIfP.png" width="90px")
                div(style="font-weight:bold;font-size:30px")
                    span(style="color:#f15b25") CHOWJUNG
                    br
                    | LOOKMARK COMPANY
            h2(style="color:#f15b25;margin:unset;margin-top:30px") การสมัครสมาชิกของท่านเสร็จสิ้น
            h3(style="color:#f15b25;margin:unset") ยินดีต้อนรับคุณ #{username} เข้าสู่ โชว์จุ่งลูกหมาก
            br
            p 
                | โชว์จุ่งได้รับข้อมูลบัญชีของท่านเรียบร้อยแล้ว โปรดรอผู้ดูแลระบบ ดำเนินการตรวจสอบความถูกต้องครบถ้วนของข้อมูล เพื่อพิจารณาอนุมัติบัญชีผู้ใช้งานของท่าน
                br
                | เมื่อผลการพิจารณาออกแล้ว โชว์จุ่งจะแจ้งให้ท่านทราบทางอีเมล์นี้อีกครั้ง
            p ขอขอบคุณสำหรับการสมัครสมาชิกกับ โชว์จุ่งลูกหมาก และขอขอบคุณที่ท่านได้ไว้วางใจเลือกใช้อะไหล่จากเรา
            br
            h4(style="text-align:center;margin-top:25px") ข้อมูลบัญชีของคุณ
            table(style="width:auto;color:#464646;margin:auto;border-collapse: collapse")
                tr(style="line-height:35px")
                    td(style="border-bottom:1px solid #dddddd") ชื่อจริง
                    td(style="border-bottom:1px solid #dddddd;width:50%") #{firstName}
                tr(style="line-height:35px")
                    td(style="border-bottom:1px solid #dddddd") นามสกุล
                    td(style="border-bottom:1px solid #dddddd;width:50%") #{lastName}
                tr(style="line-height:35px")
                    td(style="border-bottom:1px solid #dddddd") บัญชี
                    td(style="border-bottom:1px solid #dddddd;width:50%") #{email}                    
                tr(style="line-height:35px")
                    td(style="border-bottom:1px solid #dddddd") เบอร์โทรศัพท์
                    td(style="border-bottom:1px solid #dddddd;width:50%") #{phone}                                        

        div(style="color:white;background: #f15b25;padding:10px;padding-top:7px;text-align:center") CHOWJUNG CO., LTD.